#preloader{
    background: black url(load-8510.gif) no-repeat center center;
    background-size: 5.5%;
    
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
    

}
#x{
    animation: colorchange 6s infinite;


}
#y{
    animation: colorchange2 6s infinite; 
}
@keyframes colorchange {

     0%,100%{
        opacity: 1;
        color: #007bff;

     }
     50%{
        color: #333;
        
     }
}

@keyframes colorchange2 {
    0%,100%{
        opacity: 1;
        color: #333;
    }
    50%{
        color: #007bff;
    }

}


.controls {
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056b3;
}

canvas {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #333;
    transition: 0.5s;
}
canvas:hover{
    scale: 1.1;
    
    
}
.slider-container {
    margin-top: 20px;
}

.slider-container label {
    font-size: 1.2em;
    margin-right: 10px;
}

#a{
    color: #007bff;
}
#size{
    color: #007bff;
}

#speedRange {
    width: 300px;

}
#sizeRange {
    width: 300px;

}

